export PATH="/opt/homebrew/opt/node@20/bin:$PATH"
export LDFLAGS="-L/opt/homebrew/opt/node@20/lib"
export CPPFLAGS="-I/opt/homebrew/opt/node@20/include" 

# Add alias for running n8n
n8n-start() {
  /opt/homebrew/opt/node@20/bin/npx n8n
}
export -f n8n-start 